<!--<div class="container">-->
  <div class="row">
    <div class="col-md-12">
      <section class="panel">
        <header class="panel-heading">
          Editar información
          <!--<h2>Edit <%= resource_name.to_s.humanize %></h2>-->
        </header>

        <div class="panel-body">
          <div class="position-center">

          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "form-horizontal" }) do |f| %>

            <!--Mostrar mensaje de error-->
            <%= devise_error_messages! %>

              <div class="form-group">
                <%= f.label :'Foto de perfil', class: 'col-lg-2 col-sm-2 control-label' %>
                <div class="col-lg-3">
                  <% if current_user.image_stored? %>
                    <%= image_tag (current_user.image.url ), class: 'img-responsive' %>
                  <% else %>
                    <%= image_tag("/images/avatar.png", :alt => "Avatar", class: 'img-responsive') %>
                  <% end %>
                </div>
                <div class="col-lg-7">
                  <%= f.file_field :image, class: 'form-control' %>
                </div>
              </div>


            <div class="form-group">
              <%= f.label :'Nombre', class: 'col-lg-2 col-sm-2 control-label' %>
              <div class="col-lg-10">
                <%= f.text_field :name, class: 'form-control', required: true %>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :'Apellidos', class: 'col-lg-2 col-sm-2 control-label' %>
              <div class="col-lg-10">
                <%= f.text_field :lastName, class: 'form-control', required: true %>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :'Nombre de usuario', class: 'col-lg-2 col-sm-2 control-label' %>
              <div class="col-lg-10">
                <%= f.text_field :username, class: 'form-control', required: true %>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :'Correo electrónico', class: 'col-lg-2 col-sm-2 control-label' %>
              <div class="col-lg-10">
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
              </div>
            </div>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>

            <div class="form-group">
              <%= f.label :'Nueva contraseña', class: 'col-lg-2 col-sm-2 control-label' %>
              <div class="col-lg-10">
              <%= f.password_field :password, autofocus: true, autocomplete: "off", class: 'form-control' %>
              <span class="help-block">Déjelo en blanco si no quiere cambiarlo</span>
              <% if @minimum_password_length %>
                <br />
                <em><%= @minimum_password_length %> caracteres mínimo</em>
              <% end %>
            </div>
            </div>

            <div class="form-group">
              <%= f.label :'Confirmar contraseña', class: 'col-lg-2 col-sm-2 control-label' %>
              <div class="col-lg-10">
                <%= f.password_field :password_confirmation, autofocus: true, autocomplete: "off", class: 'form-control' %>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :'Contraseña actual', class: 'col-lg-2 col-sm-2 control-label' %>
              <div class="col-lg-10">
                <%= f.password_field :current_password, autofocus: true, autocomplete: "off", class: 'form-control' %>
                <span class="help-block">Necesitamos su contraseña actual para confirmar sus cambios</span>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <%= link_to "Cancelar", :back , class: 'btn btn-default pull-left' %>
              </div>
              <div class="col-md-6">
                <%= f.submit "Actualizar información", class: 'btn btn-success pull-right' %>
              </div>
            </div>

      <% end %>
      <!--<h3>Cancelar mi cuenta</h3>
      <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>-->
    </div> <!--end panel-body-->
  </div><!--end position-center-->
    </section><!--end section-->
  </div><!--end col-md-12-->
  </div><!--end row-->
<!--</div> end container-->
