<header class="header fixed-top clearfix">
  <!--logo start-->
  <div class="brand">
    <a href="<%= root_path %>" class="logo">
      <h1 class="" style="font-size: 16px; vertical-align: middle; margin: 10px auto; color: #fff; font-weight: bold;">Tapioca</h1>
    </a>
    <div class="sidebar-toggle-box">
      <div class="fa fa-bars"></div>
    </div>
  </div>
  <!--logo end-->
  <% if user_signed_in? %>
  <div class="top-nav clearfix">
    <!--search & user info start-->
    <ul class="nav pull-right top-menu">
      <li>
        <input type="text" class="form-control search" placeholder="Buscar...">
      </li>
      <!-- user login dropdown start-->
      <li class="dropdown">
        <a data-toggle="dropdown" class="dropdown-toggle" href="#" aria-expanded="false">
          <%= image_tag("/images/avatar.png", :alt => "Avatar") %>
          <span class="username"><%= current_user.email %></span>
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu extended logout">
          <li>
            <%= link_to edit_user_registration_path, :class => 'navbar-link' do %>
              <i class='fa fa-suitcase'></i> Editar información
            <% end %>
          </li>
          <li>
            <a href="">
              <i class="fa fa-cog"></i>
              Configuración</a>
          </li>
          <% if user_signed_in? %>
          <li>
            <%= link_to destroy_user_session_path, :class => 'navbar-link', method: :delete do %>
              <i class='fa fa-key'></i> Salir
            <% end %>
          </li>
          <% end %>
        </ul>
      </li>

    </ul>
    <!--search & user info end-->
  </div>
  <% end %>
</header>
